<div class="bom-list">
    {% for bom in include.items %}
    {%- assign slug = bom.url | split: '/' | last -%}
    {%- assign item = site.data.library[slug] -%}
    {%- assign link = item.links | first -%}

    {%- assign calculated_price = item.price | multiply: bom.qty -%}

    <div class="bom-item">
        <a href="{{bom.url | relative_url}}" class="bom-top">
            <img class="bom-image" src="/assets/bom/{{slug}}.png"/>
            {%- if include.hide_price == nil -%}
            <div class="bom-badges">
                {% if item.new %}
                <span class="badge new">New</span>
                {% endif %}
                {% if bom.modification %}
                <span class="badge mod"><i class="material-icons">carpenter</i> Mod</span>
                {% endif %}
                {%- if bom.qty > 1 -%}
                <span class="badge qty">×{{bom.qty}}</span>
                {%- endif -%}
            </div>
            {%- endif -%}
        </a>
        <div class="bom-body">
            <div class="bom-name">
                <a class="bom-link" href="{{bom.url | relative_url}}">{{bom.title}}</a>
                {% if item.title %}<div class="meta">{{item.title}}</div>{% endif %}
            </div>
            {% if include.hide_price == nil and item %}
            <a class="buy" href="{{link.url}}" target="_blank">
                <i class="material-icons">shopping_cart</i>
                <div class="bom-price">${{bom.total | default: calculated_price}}</div>
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="bom-placeholder"></div>
    <div class="bom-placeholder"></div>
    <div class="bom-placeholder"></div>
    <div class="bom-placeholder"></div>
</div>