<div class="breadcrumbs">
    <div class="wrapper">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
        <span class="separator material-icons">arrow_right</span>
        <span>{{page.header_title | default: page.title}}</span>
        {% else %}
        {% unless forloop.first %}<span class="separator material-icons">arrow_right</span>{% endunless %}
        <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">
            {{crumb | replace:'-',' ' | capitalize}}
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>