<div id="config-source" style="display:none">
    <textarea data-filename="printer.cfg">{% include configurator/printer.cfg %}</textarea>
    <textarea data-filename="positron_macros.cfg">{% include configurator/positron_macros.cfg %}</textarea>
</div>

<script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
<script type="text/javascript">
	const aliases = {
		'extruder/hummingbird': {
			'extruder_name': 'Hummingbird',
			'extruder_dir_pin': 'gpio13',
			'extruder_rotation_distance': '53.494165',
			'extruder_gear_ratio': '44:10, 37:17',
		},
		'extruder/lemonstruder-v1': {
			'extruder_name': 'Lemonstruder 1',
			'extruder_dir_pin': '!gpio13',
			'extruder_rotation_distance': '22.5',
			'extruder_gear_ratio': '1:1',
		},
		'extruder/lemonstruder-v2': {
			'extruder_name': 'Endgame Lemonstruder 16T',
			'extruder_dir_pin': '!gpio13',
			'extruder_rotation_distance': '42.612471',
			'extruder_gear_ratio': '72:16',
		},
		'extruder/lemonstruder-v2-17t': {
			'extruder_name': 'Endgame Lemonstruder 17T',
			'extruder_dir_pin': '!gpio13',
			'extruder_rotation_distance': '42.612471',
			'extruder_gear_ratio': '72:17',
		},
		'tool/v1': {
			'tool_name': 'Single Duct',
			'probe_x_offset': 24,
			'probe_y_offset': -24,
		},
		'tool/v2': {
			'tool_name': 'Wraparound Duct',
			'probe_x_offset': 15,
			'probe_y_offset': -24,
		},
		'tool/v3': {
			'tool_name': 'Wraparound Duct V2',
			'probe_x_offset': 8,
			'probe_y_offset': -19,
		},
	};

	const getContext = (form) => {
		const data = new FormData(form);
		const [max_x, max_y, max_z] = data.get('volume').split('x'); // Parse volume
		return data.keys().toArray().reduce((acc, key) => {
			const val = data.get(key);
			if (aliases[val]) { // Check for aliases
				Object.assign(acc, aliases[val]);
			} else { // Fallback to form value
				acc[key] = val;
			}
			return acc;
		}, {max_x, max_y, max_z});
	};

	const generateZip = (form) => {
		if (!form.checkValidity()) return form.reportValidity();
		const context = getContext(form);
		console.log('Context:', context);

		const zip = new JSZip();
		document.querySelectorAll('#config-source textarea').forEach(textarea => {
			const fileName = textarea.getAttribute('data-filename');
			const content = Mustache.render(textarea.value, context);
			console.log(fileName, content);
			zip.file(fileName, content);
		});
		downloadZip(zip);
	};

	const downloadZip = async (zip) => {
		const blob = await zip.generateAsync({type: 'blob'});
		const url = URL.createObjectURL(blob);
		const a = document.createElement('a');
		a.href = url;
		a.download = 'lemontron-config.zip';
		document.body.appendChild(a);
		a.click();
		document.body.removeChild(a);
		URL.revokeObjectURL(url);
	};

	document.addEventListener('DOMContentLoaded', () => {
		const form = document.getElementById('configurator');
		form.addEventListener('submit', (e) => {
			e.preventDefault();
			generateZip(form);
		});
	});
</script>

<form id="configurator" class="frame">
    <div class="configurator-title">Configuration Generator (BETA)</div>
    <fieldset>
        <legend>Extruder</legend>
        <label>
            <span>Type</span>
            <select name="extruder" required>
                <option value="extruder/lemonstruder-v2" title="Endgame design with 16T gear" selected>Endgame
                    Lemonstruder
                </option>
                <option value="extruder/lemonstruder-v2-17t" title="Endgame design with 17T gear mod">Endgame
                    Lemonstruder 17T
                </option>
                <option value="extruder/lemonstruder-v1" title="Original design from Rev A-D">Lemonstruder</option>
                <option value="extruder/hummingbird" title="Externally mounted extruder used for testing purposes">
                    Hummingbird
                </option>
            </select>
        </label>
        <label>
            <span>Current</span>
            <select name="extruder_current" required>
                <option value="0.6" selected title="Sets extruder motor current to 0.6">Balanced</option>
                <option value="0.8" title="Sets extruder motor current to 0.8">Performance</option>
                <option value="1.0" title="Sets extruder motor current to 1.0">Turbo</option>
            </select>
        </label>
    </fieldset>
    <fieldset>
        <legend>Cooling</legend>
        <label>
            <span>Part Cooling</span>
            <select name="pcf_max_power" required>
                <option value="1.0" title="Sets max fan power to 100%" selected>Full</option>
                <option value="0.8" title="Sets max fan power to 80%">Quiet</option>
            </select>
        </label>
        <label>
            <span>Chassis</span>
            <select name="chassis_fan_speed" required>
                <option value="1.0" title="Sets max fan power to 100%" selected>Full</option>
                <option value="0.8" title="Sets max fan power to 80%">Quiet</option>
            </select>
        </label>
    </fieldset>
    <fieldset>
        <legend>Motion System</legend>
        <label>
            <span>Probe Count</span>
            <select name="probe_count" required>
                <option value="2,2" title="For glass heat beds">2x2</option>
                <option value="3,3" title="For PCB heat beds" selected>3x3</option>
                <option value="4,4" title="For PCB heat beds">4x4</option>
            </select>
        </label>
        <label>
            <span>Build Volume</span>
            <select name="volume" required>
                <option value="180x180x165" title="Build volume of Rev A-D">180x180x165</option>
                <option value="180x177x161" title="Build volume of the Rev E release" selected>180x177x161</option>
                <option value="180x180x161" title="Build volume of future Rev F release" disabled>180x180x161</option>
            </select>
        </label>
        <label>
            <span>Homing Sensitivity</span>
            <select name="motion_homing_sensitivity" required>
                <option value="60" title="Optimized value for properly built Lemontron" selected>Standard</option>
                <option value="70" title="Testing value, for problematic drivetrains">Extra Stiff</option>
            </select>
        </label>
        <label>
            <span>Current</span>
            <select name="motion_current" required>
                <option value="0.6" title="Sets motor run current to 0.6" selected>Balanced</option>
                <option value="0.8" title="Sets motor run current to 0.8">Performance</option>
                <option value="1.0" title="Sets motor run current to 1.0">Turbo</option>
            </select>
        </label>
    </fieldset>
    <fieldset>
        <legend>Tool End</legend>
        <label>
            <span>Type</span>
            <select name="tool" required>
                <option value="tool/v1" title="Original Rev A">Original</option>
                <option value="tool/v2" title="Announced with Rev E video" selected>Wraparound</option>
                <option value="tool/v3" title="Separate duct, case, and shroud components">Wraparound V2</option>
            </select>
        </label>
    </fieldset>
    <div class="meta"><b>Defaults are optimized for Rev E.</b> This tool is brand new, send feedback in Discord!</div>
    <button type="submit">Download Config</button>
</form>