{%- include printer-context.liquid -%}

<header class="site-header" role="banner">
    <div class="wrapper">
        <a class="site-title" rel="author" href="{{'/' | relative_url}}">
            <img src="/assets/lemontron.svg" alt="Lemontron" height="40" width="157"/>
        </a>
        {% if page.layout == 'post' or page.layout == 'default' %}
        <nav class="site-nav">
            <a class="page-link" href="/news/">News</a>
            <a class="page-link" href="/about/">About</a>
            <a class="page-link" href="{{site.discord_link}}" target="_blank">Discord</a>
            {% include button.liquid title="Build yours" link="/lemontron-rev-e/" %}
        </nav>
        {% else %}
        {% if printer %}
        <div class="segmented">
            {% for printer in site.data.printers %}

            {%- assign printer_link = "/" | append: printer[0] | append: "/" -%}
            {%- unless slug == printer[0] %}
            {%- assign swapped = page.url | replace: slug, printer[0] -%}
            {%- assign exists = site.pages | where: "url", swapped | first -%}
            {%- if exists -%}
            {%- assign printer_link = page.url | replace: slug, printer[0] -%}
            {%- endif -%}
            {%- endunless -%}

            <a href="{{printer_link}}" class="{%if slug == printer[0]%}active{%endif%}">{{printer[1].name}}</a>
            {% endfor %}
        </div>
        {% else %}
        {% include button.liquid title="Build yours" link="/lemontron-rev-e/" %}
        {% endif %}
        {%- endif -%}
    </div>
</header>
