{%- include printer-context.liquid -%}

<header class="site-header" role="banner">
    <div class="wrapper">
        <a class="site-title" rel="author" href="{{'/' | relative_url}}">
            <img src="/assets/lemontron.svg" alt="Lemontron" height="40" width="157"/>
        </a>
        <nav class="site-nav">
            {% if printer %}
            <div class="segmented">
                {% for printer in site.data.printers %}
                <a href="/{{printer[0]}}/" class="{%if slug == printer[0]%}active{%endif%}">{{printer[1].name}}</a>
                {% endfor %}
            </div>
            {% else %}
            {% include button.html title="Build yours" link="/lemontron-rev-a/" %}
            {% endif %}
        </nav>
    </div>
</header>
