{% assign head_length = 2 %}

{%- if include.head == "countersunk" -%}
{%- assign head_length = 0 -%}
{%- endif -%}

{%- if include.head == "wafer-head" -%}
{%- assign head_length = 1 -%}
{%- endif -%}

{%- assign length = include.length_mm | plus: head_length -%}
{%- assign px = length | times: 4 -%}
{%- assign scale = include.thread | remove_first: "M" | divided_by: 3 -%}

<div class="screw">
    <div class="icon-screw" style="width:{{px}}px" data-nominal="{{include.length_mm}}" data-overall="{{length_mm}}">
        <img src="/assets/icons/{{screw.head}}.svg" alt="{{screw.head}}" style="transform:scale({{scale}});">
    </div>
    <div class="screw-type">{{include.thread}}</div>
    <div class="screw-length">{{include.length_mm}}mm</div>
    {%- if include.qty > 0 -%}
    <div>&times;{{include.qty}}</div>
    {%- endif -%}
</div>

