---
layout: default
---

{%- include printer-context.liquid -%}
{%- assign slug = page.url | split: '/' | last -%}
{%- assign item = site.data.library[slug] -%}

{% include breadcrumbs.html %}

<div class="post bom-page">
    <div class="bom-header">
        <img class="bom-page-image" src="/assets/bom/{{slug}}.png" alt="{{page.title}}">
        <div class="bom-page-top">
            <h1>{{page.title | escape}}</h1>
            <h2>{{item.title}}</h2>
            <div class="bom-badges">
                {% if item.new %}
                <span class="badge new" title="New badge refers to parts that were not present in the original JourneyMaker 3d printer.">New</span>
                {% endif %}
                <span class="badge qty">×{{page.qty}}</span>
                <span class="badge">${{item.price | multiply: page.qty}}</span>
            </div>
        </div>
    </div>

    <article class="bom-page-article" itemscope itemtype="http://schema.org/BlogPosting">
        <div>{{content}}</div>

        {% if item.md %}
        <div>
            <h2>Product Details</h2>
            {{item.md | markdownify}}
        </div>
        {% endif %}

        {%if item.dimensions %}
        <div class="dimensions-table">
            <table>
                <tr>
                    <th>Dimension</th>
                    <th class="numeric">Measurement</th>
                </tr>
                {% for data in item.dimensions %}
                <tr>
                    <td>{{data[0]}}</td>
                    <td class="numeric">{{data[1]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        <!--    <p class="post-meta">-->
        <!--        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">-->
        <!--            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}-->
        <!--            {{ page.date | date: date_format }}-->
        <!--        </time>-->
        <!--    </p>-->

        {% if item.resources %}
        <div>
            <h3>Resources</h3>
            <ul class="bom-vendors">
                {% for link in item.resources %}
                <li>
                    {% include button.liquid title=link.title icon="link" link=link.url target="_blank" %}
                    <span class="button-notes">{{link.note}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <ul class="bom-vendors">
            {% for link in item.links %}
            <li>
                {% include button.liquid title=link.vendor icon="shopping_cart" link=link.url target="_blank" %}
                <span class="button-notes">{{link.note}}</span>
            </li>
            {% endfor %}
        </ul>
    </article>
</div>