<div class="printing-tips">
    {% include tips/printing-tip.html
    description="0.2mm Layer Height + 0.4mm Nozzle"
    subtitle="Everything was designed with these feature sizes in mind."
    image="nozzle.png" %}

    {% include tips/printing-tip.html
    description="5 Top Layers + 5 Bottom Layers"
    subtitle="To avoid infill on 1mm thick vertical shell thickness and provide thickness around screw holes."
    image="layers.png" %}

    {% include tips/printing-tip.html
    description="Arachne-only Walls"
    subtitle="Some features are too small to recreate with ancient technology."
    image="arachne.png" %}

    {% include tips/printing-tip.html
    description="No Supports"
    image="supports.png" %}

    {% include tips/printing-tip.html
    description="Don't forget to set shrinkage for ABS/ASA!"
    subtitle="Calibrate with a test cube; Shrinkage can be found in the filament settings of OrcaSlicer."
    image="scaling.png" %}
</div>
